<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora de Lucro CS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <div class="calculator-container">
        <h1>Calculadora de Lucro</h1>
        <p>Calcule seu lucro vendendo skins de CS.</p>

        <form method="POST">
            <label for="custo_buff">Qual o preço da skin no Buff?</label>
            <input type="number" step="0.01" id="custo_buff" name="custo_buff" placeholder="Preço do Buff aqui" required>

            <label for="preco_steam">Preço de Venda na Steam </label>
            <input type="number" step="0.01" id="preco_steam" name="preco_steam" placeholder="Preço da Steam aqui" required>

            <label for="preco_csfloat">Preço de Venda no CS Float</label>
            <input type="number" step="0.01" id="preco_csfloat" name="preco_csfloat" placeholder="Preço do Cs Float aqui" required>

            <button type="submit">Calcular Lucro</button>
        </form>

        {% if lucro_steam is defined %}
            <div class="results">
                <h2>Resultados:</h2>

                <div class="result-item">
                    <h3>Lucro na Steam</h3>
                    <p>(Considerando taxa de 15%)</p>
                    <span class="{{ 'profit' if lucro_steam > 0 else 'loss' }}">
                        R$ {{ "%.2f"|format(lucro_steam) }}
                    </span>
                </div>

                <div class="result-item">
                    <h3>Lucro no CS Float</h3>
                    <p>(Considerando taxa de 2%)</p>
                    <span class="{{ 'profit' if lucro_csfloat > 0 else 'loss' }}">
                        R$ {{ "%.2f"|format(lucro_csfloat) }}
                    </span>
                </div>
            </div>
        {% endif %}

        {% if erro %}
            <div class="error">
                <p>{{ erro }}</p>
            </div>
        {% endif %}


        <div class="market-buttons">
            <a href="https://csfloat.com/search" target="_blank" class="market-btn csfloat-btn">
                Pesquisar no CS Float
            </a>
            <a href="https://steamcommunity.com/market/search?appid=730" target="_blank" class="market-btn steam-btn">
                Pesquisar na Steam
            </a>
        </div>
    </div>

</body>
</html>